
:root {
    --cor-erro: #FF5252;
    --cor-roxo: #A445ED;

    --cor-fundo-darkmode: #050505;
    --cor-cinza-input-darkmode: #1F1F1F;
    --cor-cinza-letras-principal-darkmode: #FFFFFF;
    --cor-cinza-letras-secundaria-darkmode: #757575;

    --cor-fundo-lightmode: #FFFFFF;
    --cor-cinza-input-lightmode: #F4F4F4;
    --cor-cinza-letras-principal-lightmode: #2D2D2D;
    --cor-cinza-letras-secundaria-lightmode: #757575;

    --fonte-inter: 'Inter', sans-serif;
    --fonte-lora: 'Lora', serif;
    --fonte-inconsolata: 'Inconsolata', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.dicionario {
    width: 737px;
}

.container-cabecalho, .container-cabecalho-configuracao, .container-cabecalho-configuracao-fonte {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-cabecalho-configuracao-fonte {
    width: 100px;
    border-right: solid 1px #97979728;
    margin-right: 20px;
    padding-right: 20px;
    font-family: var(--fonte-inter);
    font-weight: 700;
}
